#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*----------- add recette form--------------*/

.add-recette-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-recette-form label {
  display: block;
  margin-bottom: 10px;
}

.add-recette-form input,
.add-recette-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.add-recette-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-recette-form button:hover {
  background-color: #45a049;
}
